# Git
.git
.gitignore

# Build artifacts
gh-ghes-2-ghec
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test and coverage files
*.test
*.out
coverage.html

# Logs
*.log

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Project specific
Dockerfile
.dockerignore
Makefile
CONTRIBUTING.md
LICENSE
README.md 